# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw data only (too large)
data/raw/

# Large model files
*.pt
*.h5
*.bin

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db